#industries-body {
    font-size: larger;
    ul {
        list-style-type: none;
        li {
            margin: 2vh 0;
        }
    }

    hr {
        margin: 4vh 0;
    }

    #hero {
        text-align: center;
        >.orange-border {
            width: 20%;
            height: 10px;
            background-color: var(--aw-orange);
            display: block;
            justify-self: center;
        }
    }
}