---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ArticleList from "../../components/ArticleList.astro";
---
<BaseLayout title="Altonworks" description="The latest Seattle IT news and tech tips for small businesses from Alton Computer Solutions.">
  <div id="hero">
    <h1>Alton's Articles</h1>
  </div>
  <ArticleList page={Astro.url.searchParams.get('page') ? parseInt(Astro.url.searchParams.get('page')!) : 1} />
</BaseLayout>
