---
import ArticleLayout from "../../layouts/ArticleLayout.astro";
---
<ArticleLayout title="Deep Dive into Phishing | Altonworks" description="Learn about phishing, impersonation, and spoofing, and how to protect your organization from cybercrime with Altonworks.">
<h1 class="display-5">Deep dive into Phishing<br>
    <small class="text-muted">By Niko Permilovsky</small>
</h1>
<p>We are all familiar with the Outlook warning that “this email was sent outside of your organization” or the hassle of having to contact your IT department to have them release an invoice you have been waiting for.</p>
<p>Let us talk about why these measures are in place in the first place, and why they are our current best solution against cybercrime.</p>
<h2 class="section">Human error is the biggest gap in security</h2>
<p>According to the <a href="https://assets.mimecast.com/api/public/content/state-of-email-and-collaboration-security-2024">2024 report by Mimecast</a>, 74% of cybersecurity breaches are caused by human error. This is due to technology improving exponentially while we are not – the weakest chain in the link is our carelessness. It may be that we think it will never happen to us, we are tired or stressed under a deadline.</p>
<p>This is why the topic of <a href="/altons-articles/cybercriminal-attempts">email phishing, impersonation, spoofing</a> and so forth have been becoming increasingly prevalent. It is an effort to educate us on keeping our data safe.</p>
<p>There comes another issue with cyber security measures. The more measures there are, the more restrictive businesses operations become. Employees then become frustrated with their workflow. They then start to cut corners to improve efficiency, which leads us to the first problem.</p>
<p>This is where education comes in; it allows you to develop instincts and judgement so you can make informative decisions in the moment. Check out our <a href="/altons-articles/cybersecurity-tips-to-protect-your-small-business">quick guide about Cybersecurity</a> for a general overview.</p>
<p>The #1 best rule that we follow is that if there is even a little bit of suspicion, it is important to investigate.</p>
<h2 class="section">Anatomy of a malicious email</h2>
<p>Below is a screenshot of an email caught by the defenses that we implemented in one of our customers. Data is redacted for privacy.</p>
<img src="/how-do-phishing-emails-work-2.png" alt="Phishing email">
<p>This email was tailored for this company. The email signature matches an actual signature (from an out of office email). The section on the bottom makes it seem like a reply to a legitimate email. The logo was taken from the site.</p>
<p>To the unsuspecting or uneducated eye, this email is convincing.</p>
<p>The email message is also enticing; it lowers your guards and encourages you to check out the link.</p>
<p>The subject is “Timesheet Due Today,” playing into your element of stress and creates a sense of urgency, further lowering your guard.</p>
<p>Lastly, the link. It has the familiar “loginmicrosoftonline.” It is not clickable like a regular link. The attacker asks you to copy and paste it into the browser. This is because it is text styled as a link, with extra invisible letters within it to avoid automatic detection. We will soon release a guide on demystifying URLs.</p>
<p>This is what the actual link looks like with all the styling removed:</p>
<img src="/how-do-phishing-emails-work-1.png" alt="Phishing email">
<p>To summarize the tactics used by this email; it targets a company to mimic legitimacy and familiarity, it creates a sense of urgency and excitement and then uses tricks to hide malicious links. It relies on trust and heuristics.</p>
<p>This is why it is important to hide internal emails and addresses, use a streamlined formatting style and investigate when suspicions arise.</p>
<p>If you would like to learn tips about Outlook, check out our <a href="/altons-articles/five-things-i-love-about-outlook">5 best Outlook</a> features guide.</p>
<h2>For more information on how to protect your company against malicious emails, call us at <a href="tel:(206)782-4035">(206) 782-4035</a>.</h2>
</ArticleLayout>
