---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Who We Work With">
  <section id="who-we-work-with">
    <div class="container-fluid">
      <h2 class="display-4">Who We Work With</h2>
      <div class="row row-cols-1 row-cols-lg-4">
        <div class="col">
          <div class="col-title">Aerospace</div>
          <div class="col-body">Our experience working with Seattle Aerospace Engineering has honed our skills supporting their need for advanced hardware and network configuration, high-capacity storage, security, remote work, Catia Software, and software license management.</div>
        </div>
        <div class="col">
          <div class="col-title">Marine & Fishing</div>
          <div class="col-body">Our office is in the Fishermen’s Terminal area in Seattle’s Magnolia neighborhood nearby many of our client’s whose business is fishing, fire suppression and marine services.</div>
        </div>
        <div class="col">
          <div class="col-title">Legal</div>
          <div class="col-body">Our team has decades of experience working for Seattle area law firms and their line of business software, security, files storage, document management, compliance, and email needs.</div>
        </div>
        <div class="col">
          <div class="col-title">Small Businesses</div>
          <div class="col-body">Our experience working with professionals in accounting, finance, marketing, and software development makes our team your ideal partner to manager your technology needs.<br /><br />Our team is available and prepared to help support end user desktop issues.<br /><br />We are excited to work on transitioning many of our small business customers from in-house servers to Cloud based business solutions using Microsoft 365 or Google Workspace.</div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
