---
const { message = "Take advantage of our exclusive vendor partnerships for exceptional deals on IT equipment—get top-quality devices at below-market prices!" } = Astro.props;


---

  <div class={`alert aw-banner`} role="alert" style="z-index:1000;">
    <button
      type="button"
      class="btn-close position-absolute end-0 top-0 m-2"
      aria-label="Close"
      style="z-index:1001;"
    ></button>
    <script is:inline>
        // save banner closed state in localStorage
        if (localStorage.getItem('banner-closed') === 'true') {
            document.currentScript.parentElement.style.display = 'none';
        }
        document.currentScript.parentElement.querySelector('.btn-close').addEventListener('click', function() {
            localStorage.setItem('banner-closed', 'true');
            this.parentElement.style.display = 'none';
        });

    </script>
    <a href="altons-articles/it-procurement">{message}</a>
  </div>

