<div class="container-fluid">
  <div id="aw-footer" class="">
    <div class="">
      <div>
        <img class="img-fluid brand-logo" width="300" src="/cropped-logo-black.webp" alt="Footer Logo" />
      </div>
      <p>
        Alton Computer Solutions was established in 2006 with the idea of
        exceptional service and support paired with robust software and hardware
        solutions.
      </p>
      <ul class="p-0 d-flex mb-0">
        <li>
          <a href="https://www.facebook.com/AltonNetworking"><i class="bi bi-facebook"></i></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/alton-computer-solutions/"><i class="bi bi-linkedin"></i></a>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col">
        <h3>Navigations</h3>
        <ul>
          <li><a href="/#about-us">About Us</a></li>
          <li><a href="altons-articles/">Alton's Articles</a></li>
          <li><a href="/team">Meet The Team</a></li>
          <li><a href="/#service-grid">Solutions</a></li>
        </ul>
      </div>
      <div class="col">
        <h3>Connect</h3>
        <ul id="small-connect">
          <li>
            <i class="bi bi-telephone-outbound-fill"></i> 
            <a href="tel:(206)782-4035">(206) 782-4035</a>
          </li>
          <li>
            <i class="bi bi-geo-alt-fill"></i>
            <a href="https://maps.app.goo.gl/9oXUdXbFusEcCR5r9">4209 21st Ave W #200,
              Seattle, WA
              98199</a>
          </li>
        </ul>
          <a class="m-0 orange-btn text-nowrap w-auto" href="https://sos.splashtop.com" role="button">
            Remote Help Software</a>
        
      </div>
    </div>
    <div class="d-sm-block d-none">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2687.359180378131!2d-122.38635412360418!3d47.65801837119463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x549014317b224aad%3A0x9d59e5fa1e03e589!2sAlton%20Computer%20Solutions%20-%20Managed%20IT%20Services!5e0!3m2!1sen!2sus!4v1737655086934!5m2!1sen!2sus"
        width="400" height="300" style="border: 0" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>