// Import all of Bootstrap's CSS
@use "bootstrap-icons/font/bootstrap-icons.css";
:root {
  --aw-orange: #f16243;
  --aw-orange-light: #f16343b4;
  --aw-orange-lighter: #f1634360;
  --alternate-bg: #e2e2e2;
  --main-bg: rgb(255, 255, 255);
  --font-color: black;
  color: black;

  @media (prefers-color-scheme: dark) {
    --alternate-bg: #333;
    --main-bg: color-mix(in srgb, rgb(163 178 242), rgb(20 20 20) 94%);
    --font-color: white;
  }

  .lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
  }

  .lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
  }

  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  .lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  scrollbar-gutter: stable;
  background-color: var(--main-bg);
  color: var(--font-color);
}

.orange-btn {
  background-color: var(--aw-orange);
  color: white !important;
  > a {
    color: white !important;
    text-decoration: none;
  }

  &:hover {
    background-color: var(--aw-orange-lighter);
  }
}

.orange-btn,
.inverse-orange-btn {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  width: 200px;
  text-align: center;
}

.inverse-orange-btn {
  background-color: white;
  color: var(--aw-orange);
  a {
    color: var(--aw-orange) !important;
  }
  &:hover {
    background-color: #f5f5f5;
    color: var(--aw-orange) !important;
  }
}

#n-pl {
  position: sticky;
  z-index: 1000;
  top: 0;
}
a.link {
  color: var(--aw-orange);
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
  &:hover {
    border-color: var(--aw-orange);
  }
}
#main-body {
  position: relative;
  min-height: 90vh;

  > div.container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 800px) {
      flex-direction: column;
    }

    .main-title-container {
      width: 50%;
      @media (max-width: 800px) {
        width: 100%;
        text-align: center;
      }
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
    .main-title {
      font-size: 5rem;
      @media (max-width: 500px) {
        font-size: 3rem;
      }
      @media (prefers-color-scheme: light) {
        color: black;
      }
    }

    .main-subtitle {
      font-size: 2rem;
      color: var(--aw-orange-light);

      #type-writer {
        &.fade-in {
          animation: fade-in 0.5s ease-in-out;
          animation-fill-mode: forwards;
          @keyframes fade-in {
            from {
              opacity: 0;
            }
            to {
              opacity: 1;
            }
          }
        }
        overflow: hidden;
        white-space: nowrap;
        width: 0;
        margin: 0 auto;
      }
    }

    h1 {
      font-weight: bolder;
      color: var(--aw-orange);
      text-align: left;

      @media (max-width: 500px) {
        text-align: center;
      }
    }

    h2 {
      color: white;
      font-weight: light;
    }

    .img-container {
      width: 50%;
      justify-content: center;
      align-items: center;
    }
  }
  .btn-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    @media (max-width: 800px) {
      flex-direction: column;
      margin-bottom: 20px;
      align-items: center;
    }
  }
  .bouncing-arrow {
    text-align: center;
    margin-top: 20px;
    animation: bounce 2s infinite;
    i {
      font-size: 2rem;
    }
    a {
      color: var(--aw-orange);
    }
    @keyframes bounce {
      100% {
        transform: translateY(-10px);
      }
      50% {
        transform: translateY(0);
      }
      0% {
        transform: translateY(-10px);
      }
    }
  }
}

#company-card {
  position: relative;
  border: 0;
  border-radius: 45px;
  z-index: 3;

  background-color: var(--alternate-bg);
  @media (prefers-color-scheme: light) {
    .carousel-control-next,
    .carousel-control-prev /*, .carousel-indicators */ {
      filter: invert(100%);
    }
  }
}

.nav-links {
  font-size: 1.25rem;

  @media (max-width: 1390px) {
    font-size: 0.9rem;
  }

  @media (max-width: 1150px) {
    font-size: 0.7rem;
  }
}

.phone {
  display: none;

  @media (min-width: 400px) {
    display: inline;
  }
}

.display-lg-3 {
  font-size: 1.5rem !important;
  @media (min-width: 400px) {
    font-size: 2rem !important;
  }
  @media (min-width: 800px) {
    font-size: 3.5rem !important;
  }
}

section {
  scroll-margin-top: 11vh;
  &:not(:last-of-type) {
    padding: 7vh 10vw;
  }

  &:last-of-type {
    padding: 2vh 5vw;
  }
  color: var(--font-color);
  &#about-us {
    > div.container-fluid {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @media (max-width: 800px) {
        flex-direction: column;
      }
      > div {
        width: 50%;
        @media (max-width: 800px) {
          width: 100%;
        }
      }
    }
    p {
      font-size: 1.5rem;
      font-weight: 400;

      @media (max-width: 800px) {
        font-size: 1rem;
      }
    }
  }

  &:nth-of-type(odd) {
    background-color: var(--alternate-bg);
  }
  &:nth-of-type(even) {
    background-color: var(--main-bg);
  }
}

#who-we-work-with {
  padding: 10vh 4vw;
  scroll-margin-top: 15vh;
  .row {
    justify-content: space-between;
    @media (max-width: 850px) {
      flex-direction: column;
    }
    .col {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2%;
      flex-basis: 22%;
      margin: 5px;
      position: relative;
      background-color: var(--alternate-bg);

      border-bottom: 5px solid var(--aw-orange);
      &:hover {
        .col-body {
          opacity: 1;
          transition: 0.5s;
        }
        .col-title {
          opacity: 0;
        }
      }
      .col-title {
        position: absolute;
        bottom: 50%;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
      }

      .col-body {
        justify-self: center;
        align-self: center;
        font-size: 1.2em;
        opacity: 0;
      }
    }
  }
}
#team-body {
  p {
    font-size: 1.1rem;
  }
  .card {
    scroll-margin-top: 15vh;
    background-color: var(--alternate-bg);
    color: var(--font-color);
    border: 0;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;

    @keyframes target-fade {
      from {
        background-color: var(--aw-orange);
      }
      to {
        background-color: var(--alternate-bg);
      }
    }
    &:target {
      animation: target-fade 3s;
    }
  }
  .card-title {
    font-size: 1.5rem;
  }

  .row {
    > div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  img {
    width: 200px;
  }
}
#what-we-do {
  ul {
    padding: 0;
    margin-left: 30px;
    font-size: 1.5rem;

    li {
      padding-inline-start: 1ch;
    }
    li::marker {
      font-size: 1.5rem;
    }
    li:first-child::marker {
      content: "\F5DB";
      font-family: "bootstrap-icons";
    }
    li:nth-child(2)::marker {
      content: "\F514";
      font-family: "bootstrap-icons";
    }
    li:nth-child(3)::marker {
      content: "\F6A6";
      font-family: "bootstrap-icons";
    }
    li:nth-child(4)::marker {
      content: "\F65E";
      font-family: "bootstrap-icons";
    }

    li:nth-child(5)::marker {
      content: "\F62E";
      font-family: "bootstrap-icons";
    }
  }
}

#services-contact {
  > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    row-gap: 5vw;
    > div {
      width: 45%;
      @media (max-width: 800px) {
        width: 100%;
      }
    }

    @media (max-width: 800px) {
      flex-direction: column;
    }
  }
  #form {
    color: black !important;
    h2 {
      color: white;
    }

    .spinner-border {
      color: var(--aw-orange);
    }
  }
}

#service-grid {
  .card {
    border: 0;
    border-radius: 15px;
    transition: 0.3s;
    background-color: var(--main-bg);
    color: var(--font-color);
    .card-text {
      text-align: center;
    }
    text-decoration: none;
  }

  .card-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    font-size: 3rem;
  }

  .card:hover {
    background-color: var(--alternate-bg);
  }
}

#meet-our-team {
  .team-card {
    @media (max-width: 800px) {
      flex-direction: column;
    }
  }
  .team-card .img-container {
    border: 3px solid var(--aw-orange);
    border-radius: 50%;
    margin-bottom: 15px;
    width: 200px;
    height: 200px;
    cursor: pointer;
    &:hover {
      transform: scale(110%);
      transition: 0.3s;
    }
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 250px;
    }
  }

  #chris-photo {
    transform: translateY(25px);
  }

  > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    > div {
      text-align: center;
      display: flex;
      span {
        padding: 0 2vw;
      }
    }
  }
}

#testimonials {
  > div {
    align-self: center;
    position: relative;
    width: 80%;

    @media (max-width: 800px) {
      width: 100%;
    }
  }
  div#testimonial {
    justify-self: center;
    align-self: center;
    width: 70%;
    @media (max-width: 800px) {
      width: 100%;
    }
  }
  display: flex;
  justify-content: center;
  flex-direction: column;
  figure.t-quote {
    min-height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .carousel-indicators {
    margin-bottom: 0;
  }
  @media (prefers-color-scheme: light) {
    .carousel-indicators/*, .carousel-indicators */ {
      filter: invert(100%);
    }
  }

  i {
    &.trq,
    &.blq {
      display: none;
      @media (min-width: 800px) {
        display: block;
      }
      font-size: 6rem;
      color: var(--aw-orange);
      position: absolute;
    }
    &.trq {
      top: 0;
      right: 0;
    }
    &.blq {
      bottom: 0;
      left: 0;
      transform: scaleX(-1);
    }
  }
}

.blockcaption {
  font-size: 1.5rem;
  cite {
    font-size: 1rem;
  }
  display: flex;
  align-items: center;
  img {
    height: auto;
    width: 75px;
    padding-right: 15px;
  }
  @media (max-width: 800px) {
    font-size: 1rem;
  }
}

.container404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  h1 {
    font-size: 5rem;
    font-weight: bold;
  }
  h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  a {
    color: var(--aw-orange);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
    &:hover {
      border-color: var(--aw-orange);
    }
  }
}

/* Partial (navbar and footer) styles */
#main-navbar {
  background-color: var(--main-bg);
  max-width: 100%;

  .ac-button {
    background-color: inherit;
    color: inherit;
    outline: none;
    border: none;
    box-shadow: none;
  }
  div[class*="col"] {
    a:not(.dropdown-item) {
      border-bottom: 3px solid transparent;
      color: var(--font-color);
      text-decoration: none;
      text-wrap: nowrap;
      transition: 0.2s ease-out;
      margin: 0 10px;
    }
    > span {
      > a:hover,
      > div > a:hover {
        color: var(--aw-orange);
      }
    }
  }
  .dropdown-menu {
    margin-left: -10px !important;
    border-radius: 0;
    background-color: var(--main-bg);
    color: var(--font-color);

    .dropdown-item {
      color: var(--font-color);
      &:hover {
        background-color: var(--alternate-bg);
      }
    }
  }
}

.offcanvas {
  background-color: var(--main-bg);
  color: var(--font-color);

  .accordion-item,
  .accordion-button {
    background-color: var(--main-bg);
    color: var(--font-color);
    a {
      margin: 0 !important;
    }
  }
  .offcanvas-title {
    width: 100%;
    text-align: center;
    font-size: 2rem;
  }

  .btn-close {
    @media (prefers-color-scheme: dark) {
      filter: invert(100%);
    }
  }

  .accordion-button::after {
    @media (prefers-color-scheme: dark) {
      background-image: url("/arrow-down-short.svg");
    }
    background-image: url("/arrow-down-short-dark.svg");
  }
  ul {
    list-style-type: none;
    text-align: left;
  }
  .accordion-item > .accordion-body {
    text-align: left;
    padding: 0;

    > a {
      padding: var(--bs-accordion-body-padding-y)
        var(--bs-accordion-body-padding-x);
      width: 100%;
      display: block;
    }
  }
}

.aw-banner {
  background-color: var(--aw-orange);
  font-size: 1.2rem;
  text-align: center;
  border-bottom: 0px;
  border-radius: 0;
  a {
    color: var(--font-color);
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
    &:hover {
      border-color: var(--font-color);
    }
  }
}

.brand-logo {
  @media (prefers-color-scheme: dark) {
    content: url("/cropped-logo-white.webp");
    height: auto;
  }
}

.phone {
  color: var(--aw-orange) !important;
}

.vr {
  width: 1px !important;
  padding-left: 1px;
  padding-right: 1px;
}
div#aw-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  > div {
    display: flex;
    flex-direction: column;
    li {
      margin: 10px 0;
      a:hover {
        color: var(--aw-orange);
        transition: 0.2s ease-out;
      }
    }
    &:first-child {
      justify-content: space-between;
      i {
        margin: 0 15px;
        font-size: 3rem;
        color: var(--aw-orange);
      }
      flex-basis: 20%;
    }
    &:last-child {
      flex-basis: 20%;
    }
    margin: 20px;
  }

  > div.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 500px) {
      flex-direction: column;
      align-items: center;
      text-align: left;
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    &#small-connect {
      li {
        display: flex;
        > :first-child {
          margin-right: 10px;
          justify-self: center;
          align-self: center;
        }
      }
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

.modal {
  --bs-modal-border-color: none;

  .modal-body,
  .modal-header {
    color: var(--font-color);
    background-color: var(--main-bg);
    border-bottom-color: var(--aw-orange);
  }

  .modal-header {
    .btn-close {
      @media (prefers-color-scheme: dark) {
        filter: invert(100%);
      }
    }
  }

  .modal-body {
    form {
      input,
      textarea,
      textarea:focus,
      input:focus {
        background-color: var(--alternate-bg);
        color: var(--font-color);
        border: 1px solid var(--aw-orange);
      }

      label,
      label::after {
        color: var(--font-color) !important;
        background-color: transparent !important;
      }
    }
    #mc_embed_signup {
      width: auto;
      background-color: var(--main-bg);
      color: var(--font-color);
      font: inherit;
    }

    #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
      background-color: transparent;
    }
  }
}

/* Solutions page styles */
#solutions-body {
  padding: 0 !important;
  background-color: var(--alternate-bg);
  margin-bottom: 5vh;
  #hero {
    width: 100%;
    color: white;
    padding: 7vh 0;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 2000px var(--aw-orange-light);
    text-align: center;
    h1 {
      font-size: 4rem;
      font-weight: bolder;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }
    .orange-border {
      width: 20%;
      height: 10px;
      background-color: var(--aw-orange);
      display: block;
      justify-self: center;
    }
  }

  section {
    padding: 7vh 7vw;
    p {
      font-size: 1.3em;
    }
  }
  .row {
    margin: 5vh 0;
  }
  .card {
    height: 100%;
    border: 0;
    background-color: transparent;
    color: var(--font-color);
  }
  .card-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    font-size: 4rem;
  }

  .card-body {
    text-align: center;

    h5 {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  & + div > #aw-footer {
    margin: 0 10vw;
    @media (max-width: 800px) {
      margin: 0;
    }
  }
}
/* Alton's articles styles */
#article-body {
  font-size: 1.4rem;
  padding: 7vh 25vw;

  @media (max-width: 1000px) {
    padding: 7vh 5vw;
  }

  .text-muted {
    @media (prefers-color-scheme: dark) {
      filter: invert(100%);
    }
  }

  a {
    color: var(--aw-orange);
    border-bottom: 1px solid transparent;
    text-decoration: none;
    transition: 0.3s;
    &:hover {
      border-color: var(--aw-orange);
    }
  }

  .important {
    font-weight: bold;
    padding: 5px;
    background-color: var(--aw-orange);
  }

  h2.section {
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    border-left: 10px solid var(--aw-orange);
  }

  .row {
    --bs-gutter-y: 1.5rem;
  }
  .accordion {
    h2 > button {
      font-size: 1.4rem;
      font-weight: bold;
      color: var(--font-color);
      background-color: var(--alternate-bg);
      border: none;
      border-radius: 0;
      padding: 1rem 1.5rem;

      &::after {
        @media (prefers-color-scheme: dark) {
          filter: invert(100%);
        }
      }
    }

    .accordion-body {
      padding: 1rem 1.5rem;
      background-color: var(--alternate-bg);
      color: var(--font-color);
    }
  }
}

#article-list {
  margin-top: 5vh;
  margin-bottom: 20vh;
  .card {
    background: var(--alternate-bg);

    border: none;
    color: var(--font-color);
    height: 100%;
    padding: 0px;

    .card-body {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      padding: 0px;

      .card-body-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1.5rem;
        .subtext {
          font-size: 0.9rem;
          color: var(--aw-orange);
        }
      }
      a.card-body-btn {
        background: linear-gradient(
          90deg,
          var(--alternate-bg) 50%,
          var(--aw-orange-lighter) 50%
        );
        transition: background-position 0.2s ease-in-out;
        background-size: 200% 100%;
        background-position: 0% 100%;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        font-size: 1.5rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        color: var(--aw-orange);
        &::after {
          content: "\F138";
          font-family: "bootstrap-icons";
          font-weight: normal;
          display: block;
        }
        &:hover {
          background-position: 100% 0%;

          cursor: pointer;
        }
      }
    }

    .card-title {
      font-size: 1.25rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
    }
  }
}

#hero {
  width: 100%;
  color: white;
  padding: 7vh 0;
  background-size: cover;
  background-position: center;
  background-color: var(--aw-orange);
  text-align: center;
  h1 {
    font-size: 4rem;
    font-weight: bolder;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  .orange-border {
    width: 20%;
    height: 10px;
    background-color: var(--aw-orange);
    display: block;
    justify-self: center;
  }
}

#recent-posts {

  a:hover .card {
    border: 1px solid var(--aw-orange);
    transition: 0.3s
  }
  .card {
    background-color: var(--alternate-bg);
    color: var(--font-color);
    border: 1px solid transparent;
    height: 100%;
    padding: 1.5rem;

    .card-title {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    .card-text {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }

    .subtext {
      font-size: 0.9rem;
      color: var(--aw-orange);
    }
  }
}
