---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout title="Cybersecurity | Altonworks" description="Alton Computer Solutions helps businesses identify and address security vulnerabilities.">
  <section id="solutions-body">
    <div id="hero">
      <h1> Cybersecurity and Compliance </h1>
      <span class="orange-border"></span>
    </div>
    <section>
      <p>
        Cybersecurity is more critical than ever. Alton Computer Solutions helps businesses identify and address security vulnerabilities.
      </p>
      <div class="row flex-column flex-sm-row">
        <div class="col">
          <div class="card">
            <div class="card-icon-container">
              <i class="bi bi-clipboard-check"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">Security Controls Implementation</h5>
              <p class="card-text">We review and implement the necessary measures to secure your business.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-icon-container">
              <i class="bi bi-send-exclamation"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">CISA and CSET Assessments</h5>
              <p class="card-text">Identify, protect, detect, respond, and recover with our detailed evaluations and remediation plans.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-icon-container">
              <i class="bi bi-list-check"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">Cybersecurity Performance Goals</h5>
              <p class="card-text">We provide CISA’s CPG assessment and checklist to help you stay compliant and secure.</p>
            </div>
          </div>
        </div>
      </div>
      <p>
        Partner with Alton Computer Solutions for cybersecurity solutions that not only protect your business but also ensure compliance with industry standards.
      </p>
    </section>
  </section>
</BaseLayout>
