---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout title="Cloud Migrations | Altonworks" description="Alton Computer Solutions helps Seattle businesses migrate from on-premises servers to hybrid cloud environments.">
  <section id="solutions-body">
    <div id="hero">
      <h1> Hybrid Cloud Migrations </h1>
      <span class="orange-border"></span>
    </div>
    <section>
      <p>
        Many businesses require a mix of on-premises and cloud solutions. Alton Computer Solutions specializes in setting up and maintaining hybrid cloud environments, integrating on-site servers with cloud systems for optimal performance and security.
      </p>
      <div class="row flex-column flex-sm-row">
        <div class="col">
          <div class="card">
            <div class="card-icon-container">
              <i class="bi bi-hdd-rack"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">On-Premises Server Setup and Maintenance</h5>
              <p class="card-text">For businesses handling highly sensitive data, we ensure your on-site servers operate seamlessly.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-icon-container">
              <i class="bi bi-cloud-haze2"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">Cloud Integration</h5>
              <p class="card-text">We link less sensitive data to secure cloud platforms, creating a balanced and efficient hybrid environment.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-icon-container">
              <i class="bi bi-speedometer2"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">Performance Optimization</h5>
              <p class="card-text">Our hybrid cloud solutions are designed to deliver the best of both worlds—local control and cloud scalability.</p>
            </div>
          </div>
        </div>
      </div>
      <p>
        Alton Computer Solutions bridges the gap between on-premises and cloud systems, ensuring your hybrid environment runs smoothly and efficiently, so your business thrives.
      </p>
    </section>
  </section>
</BaseLayout>
