---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout title="MSP | Altonworks" description="Alton Computer Solutions offers Basic and Premium Managed IT Plans that cater to businesses of all sizes.">
  <section id="solutions-body">
    <div id="hero">
      <h1> Managed IT Plans </h1>
      <span class="orange-border"></span>
    </div>
    <section>
      <p>
        Alton Computer Solutions offers Basic and Premium Managed IT Plans that cater to businesses of all sizes. As your local IT partner, we’re here to provide on-site support when needed, ensuring your systems are always in top shape.
      </p>
      <div class="row flex-column flex-sm-row">
        <div class="col">
          <div class="card">
            <div class="card-icon-container">
              <i class="bi bi-pc-display"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">Workstation and Server Plans</h5>
              <p class="card-text">We provide monitoring, maintenance, and security for your devices.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-icon-container">
              <i class="bi bi-cloud-arrow-up"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">Cloud Services Plans</h5>
              <p class="card-text">Our plans include Microsoft 365 services to optimize collaboration and productivity.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-icon-container">
              <i class="bi bi-person-gear"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">Network and Cloud Management Plans</h5>
              <p class="card-text">We handle the management of your routers, firewalls, and Wi-Fi systems, so you can focus on your business.</p>
            </div>
          </div>
        </div>
      </div>
      <p>
        Let Alton Computer Solutions take the stress out of IT management, so you can focus on growing your business.
      </p>
    </section>
  </section>
</BaseLayout>
